## **`Stock Analysis`**
In this notebook, we will use `Python` to analyze `stock` data and make investment decisions. We will use the `pandas` library to import stock data, `clean` and `preprocess` it, and then use various techniques to `analyze the data`

In [26]:
import pandas_datareader.data as web
import pandas as pd
import datetime

In [27]:
start = datetime.datetime(2020,1,1)
end = datetime.datetime(2020,4,20)

## **`Data Preprocessing`**
 We will start by importing stock data into a pandas dataframe. We will then clean and preprocess the data by removing any missing values, handling duplicates, and transforming the data into a format that is suitable for analysis.

In [33]:
google = web.DataReader("GOOGL","iex",start,end,api_key="sk_d0a3bb5ac9534db88dc8b66079928549" )
google.head()

               open     high       low    close      volume
date
2020-01-02  67.4205  68.4340  67.32450  68.4340  27285300.0
2020-01-03  67.4000  68.6875  67.36618  68.0760  23412580.0
2020-01-06  67.5815  69.9160  67.55000  69.8905  46786860.0
2020-01-07  70.0230  70.1750  69.57775  69.7555  34529120.0
2020-01-08  69.7410  70.5925  69.63150  70.2520  35325480.0

In [34]:
google.info()

<class 'pandas.core.frame.DataFrame'>
Index: 75 entries, 2020-01-02 to 2020-04-20
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   open    75 non-null     float64
 1   high    75 non-null     float64
 2   low     75 non-null     float64
 3   close   75 non-null     float64
 4   volume  75 non-null     float64
dtypes: float64(5)
memory usage: 3.5+ KB

In [35]:
google.describe()

            open       high        low      close        volume
count  75.000000  75.000000  75.000000  75.000000  7.500000e+01
mean   66.325779  67.287950  65.319205  66.432460  4.991875e+07
std     7.465775   7.075720   7.840806   7.410017  2.106082e+07
min    52.818500  53.345500  50.443500  52.706500  2.155038e+07
25%    60.115000  60.735498  58.989545  60.339250  3.089453e+07
50%    67.948000  69.373500  67.324500  69.080000  4.956078e+07
75%    72.823750  73.297875  71.875000  72.618750  6.305652e+07
max    76.360000  76.537000  76.048800  76.243500  9.651962e+07