<a href="https://colab.research.google.com/github/aninarafath6/mechine_learning/blob/main/pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ***Intro to Pandas***

In [7]:
import pandas as pd

#create from a list
# Series
students = ["Arafath" , "Sulthan" , "Anwar "]
s1 = pd.Series(students,index = ["a","b","c",])
print(s1)

a    Arafath
b    Sulthan
c     Anwar
dtype: object

In [8]:
dic = {"Physics":10,"Chemistry":20,"cs":30,}
pd.Series(dic)

Physics      10
Chemistry    20
cs           30
dtype: int64

# From **dataframe**

In [26]:
#from dictionary
progress_card = {
    "Student":["Anin","Anwar","Jhon","Devanand"],
    "Physics":[20,28,10,18],
    "Chemistery":[20,28,10,18],
    "Maths":[10,30,10,80],
    "English":[20,28,10,18],

}
df=pd.DataFrame(progress_card,
            #  custom indexing 
             index=["s1","s2","s3","s4"])
df

     Student  Physics  Chemistery  Maths  English
s1      Anin       20          20     10       20
s2     Anwar       28          28     30       28
s3      Jhon       10          10     10       10
s4  Devanand       18          18     80       18

In [28]:
df.columns
df.columns =['Student', 'Physics', 'Chemistery', 'Maths', 'Computer Science']
df

     Student  Physics  Chemistery  Maths  Computer Science
s1      Anin       20          20     10                20
s2     Anwar       28          28     30                28
s3      Jhon       10          10     10                10
s4  Devanand       18          18     80                18

In [29]:
df["Student"]

s1        Anin
s2       Anwar
s3        Jhon
s4    Devanand
Name: Student, dtype: object

In [31]:
print(type(df["Student"]))
print(type(df))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

# **`*Reading data from external source*`**

In [44]:
arnhss=pd.read_csv("sample_csv.csv",encoding='Latin-1')
arnhss.head()
# basic statistical data
arnhss.describe()

,Roll Number,Phone,Parent phone,Admission number,Year code,created_at,updated_at
count,62.000000,6.200000e+01,6.200000e+01,62.000000,62.0,0.0,0.0
mean,32.193548,8.562013e+09,9.006454e+09,2641.693548,1.0,NaN,NaN
std,18.735290,1.131506e+09,1.042195e+09,83.265640,0.0,NaN,NaN
min,1.000000,6.238614e+09,6.235007e+09,2488.000000,1.0,NaN,NaN
25%,16.250000,7.736766e+09,8.254495e+09,2584.250000,1.0,NaN,NaN
50%,32.500000,8.660760e+09,9.562480e+09,2659.500000,1.0,NaN,NaN
75%,47.750000,9.633863e+09,9.746529e+09,2712.750000,1.0,NaN,NaN
max,64.000000,9.961408e+09,9.995211e+09,2749.000000,1.0,NaN,NaN

In [36]:
arnhss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 62 entries, 0 to 61
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Timestamp         62 non-null     object
 1   Email address     62 non-null     object
 2   Full Name         62 non-null     object
 3   Roll Number       62 non-null     int64
 4   Gender            62 non-null     object
 5   Phone             62 non-null     int64
 6   Parent phone      62 non-null     int64
 7   Program           62 non-null     object
 8   Department        62 non-null     object
 9   Date of Birth     62 non-null     object
 10  Admission number  62 non-null     int64
 11  2nd language      62 non-null     object
 12  Year code         62 non-null     int64
 13  Division          62 non-null     object
 14  role              62 non-null     object
 15  created_at        0 non-null      float64
 16  updated_at        0 non-null      float64
dtypes: float64(2), int64(5), object(10)
memory usage: 8.4+ KB

In [38]:
arnhss.shape

(62, 17)

In [45]:
arnhss.columns

Index(['Timestamp', 'Email address', 'Full Name', 'Roll Number', 'Gender',
       'Phone', 'Parent phone', 'Program', 'Department', 'Date of Birth',
       'Admission number', '2nd language', 'Year code', 'Division', 'role',
       'created_at', 'updated_at'],
      dtype='object')

In [46]:
arnhss.index

RangeIndex(start=0, stop=62, step=1)

In [48]:
arnhss["Full Name"]

0           Anin Arafath
1       Anwar Sulthan ap
2             Devanand.P
3            Dhananjay.m
4      Mohammad Midlaj.M
             ...
57      Irfana Jasmin Ap
58      Rifa Abdul Nazer
59    Shabeeka thasni KT
60    Shabeela rosmin pp
61      Shahma Shireen.T
Name: Full Name, Length: 62, dtype: object

In [49]:
arnhss.Phone

0     6282062527
1     8943697239
2     6282093584
3     9778578211
4     6238626190
         ...
57    7994339122
58    9847336680
59    9846801788
60    9633563390
61    8606451553
Name: Phone, Length: 62, dtype: int64

In [52]:
arnhss.Phone.dtype

dtype('int64')

In [58]:
print("Lowest Adm no: ",arnhss["Admission number"].min())
print("Total count : ",arnhss["Roll Number"].count())

Lowest Adm no:  2488
Total count :  62

In [62]:
print("Index of min value of Adim no: ",arnhss["Admission number"].idxmin())
print("Index of max value of Adim no: ",arnhss["Admission number"].idxmax())

Index of min value of Adim no:  19
Index of max value of Adim no:  45